*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{     
    height: 100px;
    background-image: url('../img/Intersection\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding-top: 10px;
    padding-left: 40px;
}

header h3{
    color: #fff;
    font: normal normal normal 40px/82px Sitka Display;
}

header span{
    color: #650061;
    font-family: Open Sans;
    text-transform: uppercase;
    font-size: 20px;
}

nav{
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #E5E5E5;
    float: left;
}

.colored{
    color: #650061;
}

nav a{
    margin: 20px;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border-radius: 5px;
    display: block;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover{
    background-color: #fff;
    color: #9A24A9;
}

article{
    width: calc(100% - 300px);
    float: right;
    padding: 30px;
}

article p{
    font-size: 20px;
    display: inline-block;
}

article a{
    color: #fff;
    background: linear-gradient(111deg, rgba(233,88,162,1) 35%, rgba(158,39,170,1) 100%);
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 47px;
    text-decoration: none;
}

/* css for the addTopic.html page */
.addtopic p{ 
    display: block;
}

#div_title{
    color: #650061;
    padding-bottom: 10px;
}

.addtopic input{
    display: block;
    padding: 10px 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
}

.addtopic a{
    display: inline-block;
    padding: 10px 50px;
    margin: 20px 0px;
    font-size: 20px;
}

/* css for the addQuiz.html page */

.addQuiz p{
    display: block;
    color: #650061;
    margin-bottom: 20px;
}

.addQuiz label{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

.addQuiz input{
    display: block;
    padding: 10px 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
}

.addQuiz select{
    display: block;
    padding: 10px 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #C6C6C6;
    border-radius: 13px;
}

.addQuiz a{
    display: inline-block;
    padding: 10px 50px;
    margin: 20px 0px;
    font-size: 20px;
}