body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    height: 100vh;
}

.bg_header{
    height: 100vh;
}

.bg_over_header{
    position: absolute;
    right: 0px;
    top: 22.5%;
}

.title{
    position: absolute;
    left: 100px;
    top: 22%;
}

.title h1{
    font-size: 35px;
    color: #fff;
}

.title p{
    font-size: 25px;
    color: #650061;
}

.buttons{
    position: absolute;
    left: 100px;
    top: 52%;
}

.buttons a{
    text-decoration: none;
    color: #650061;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px 0px 15px 0px;
    padding: 10px 35px;
    display: block;
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
}

.buttons a:hover{
    color: #fff;
    background-color: #650061;
}

#span{
    position: absolute;
    left: 100px;
    bottom: 20px;
}

.section1{
    height: 100vh;
    padding: 100px;
}

#random{
    background: #E958A2;
    background: linear-gradient(90deg, rgba(233,88,162,1) 35%, rgba(158,39,170,1) 100%);
    padding: 10px;
    border-radius: 30px;
}

.click_button a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    transition: 0.4s;
}

.start_button{
    padding: 30px 0px 30px 0px;
}

.start_button a{
    text-decoration: none;
    background-color: #9A24A9;
    color: #fff;
    border-radius: 10px;
    display: block;
    text-align: center;
    padding: 30px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 60px;
    transition: 0.4s;
    letter-spacing: 7.9px;
}

.check_button{
    text-align: center;
}

.check_button a{
    color: #9A24A9;
    text-decoration: none;
}

.section2{
    height: 85vh;
    padding: 100px 0px 0px 0px;
}

.img_section2{
    float: right;
    padding-right: 20px;
    margin-bottom: -22px;
}

.text{
    float: left;
    padding-left: 80px;
}

.title_section2 p{
    font: normal normal bold 85px/90px Sitka Display;
    color: #2E353A;
    font-size: 60px;
    padding: 0;
    margin: 0px 0px -30px 0px;
    opacity: 0.8;
}

.title_section2 h1{
    font: normal normal bold 85px/90px Sitka Display;
    color: #2E353A;
    font-size: 60px;
    padding: 0;
    /* margin: 0px 0px -10px 0px; */
    opacity: 0.8;
}

.paragraph{
    margin-top: 50px;
}
.paragraph p{
    color: #2E353A;
    padding: 0;
    margin: 0;
    font-size: 21.5px;
}

.botton_section2{
    margin-top: 100px;   
}

.botton_section2 a{
    text-decoration: none;
    background-color: #9A24A9;
    color: #fff;
    border-radius: 20px;
    padding: 30px 60px;
    text-transform: uppercase;
    font-size: 25px;
    transition: 0.4s;
    letter-spacing: 4px;
}